@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900);

* {
    box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	background: #F39C12;
}
.header {
	padding: 100px 0;
	text-align: center;
	background: url("pizza.jpg") 50% 60% no-repeat;
}
.top {
    max-width: 800px;
	margin: auto;
	background-color: rgba(39, 174, 96, 0.8);
	color:white;
	width: 80%;
	border-radius: 10px;
	padding: 30px;
}
.top h1{
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
	font-size: 40px;
}
.container{
	background: white;
	padding: 50px;
	margin: 50px auto;
	width: 80%;
	max-width: 700px;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px auto;
	border-collapse: collapse; 
}
table th, table td {
	border: 1px solid #d35400;
	padding: 5px;
}
th {
	background: #E78925;
}
tr:hover {
	background: #E78925;
}
.info {
	padding: 50px 0;
	background: #0b0b0b;
	color: white;
	text-align: center;
}
.info h3 {
	margin-bottom: 0;
	color: #E78925;
}
i.fa {
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	background-color: #333;
	margin: 0 auto;
}
.info p {
	margin: 5px auto 40px;
	width: 300px;
}